<launch>
  <node 
    pkg="redfish" 
    type="front_side_error_v3.py"
    name="front_error_node"
    ns="red_bot"
  />
  <node 
    pkg="redfish"
    type="left_side_error_v3.py"
    name="left_error_node"
    ns="red_bot"
  />
  <node 
    pkg="redfish"
    type="right_side_error_v3.py"
    name="right_error_node"
    ns="red_bot"
  />
  <node 
    pkg="redfish"
    type="left_motor_measured_speed.py"
    name="left_motor_speed_node"
    ns="red_bot"
  />
  <node 
    pkg="redfish"
    type="right_motor_measured_speed.py"
    name="right_motor_speed_node"
    ns="red_bot"
  />
  <node 
    pkg="redfish"
    type="camera_centroid_and_radius_2.py"
    name="object_position_node"
    ns="red_bot"
  />
  <node 
    pkg="redfish"
    type="servo_tracking_1.py"
    name="pan_and_tilt"
    ns="red_bot"
  />
  <node 
    pkg="redfish"
    type="tele_motor_redbot_1.py"
    name="motor_commands"
    ns="red_bot"
  />
  
</launch>