<launch>
  <node 
    pkg="trying_again" 
    type="front_side_error_v3.py"
    name="front_error_node"
    ns="blue_bot"
  />
  <node 
    pkg="trying_again"
    type="left_side_error_v3.py"
    name="left_error_node"
    ns="blue_bot"
  />
  <node 
    pkg="trying_again"
    type="right_side_error_v3.py"
    name="right_error_node"
    ns="blue_bot"
  />
  <node 
    pkg="trying_again"
    type="left_motor_measured_speed.py"
    name="left_motor_speed_node"
    ns="blue_bot"
  />
  <node 
    pkg="trying_again"
    type="right_motor_measured_speed.py"
    name="right_motor_speed_node"
    ns="blue_bot"
  />
  <node 
    pkg="trying_again"
    type="tele_motor_bluebot_1.py"
    name="motor_commands"
    ns="blue_bot"
  />
  
</launch>
